.slide-in{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    /* background-image: linear-gradient(to right top, #051937, #002562, #00308e, #0037ba, #3239e5); */
    transform-origin: bottom;
    background-color: #fff;
    

}

.slide-out{
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-image: linear-gradient(to right top, #051937, #002562, #00308e, #0037ba, #3239e5);
    transform-origin: top;

}
